@import "tailwindcss";

@font-face {
  font-family: "Akzidenz-Grotesk BQ";
  src: url("/fonts/akzidenz/AkzidenzGroteskBQ-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --background: #f8f8f8;
  --foreground: black;
  --font-title: "Akzidenz-Grotesk BQ", sans-serif;
  --font-content: "Inter", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8f8f8;
    --foreground: black;
  }
}

body {
  background: var(--background);
  color: black !important;
}

.title {
  font-family: var(--font-title);
  color: black;
}

.content {
  font-family: var(--font-content);
}

/* Nasconde le scrollbar orizzontali */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE e Edge */
  scrollbar-width: none; /* Firefox */
}

/* style.css */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 16px; /* larghezza di riposo */
  height: 16px; /* altezza fissa */
  background-color: black;
  border-radius: 9999px; /* rende la forma una capsula quando width > height */
  pointer-events: none;
  z-index: 9999;
  will-change: transform, width; /* hint per il browser */
  /* nessun transform: scale qui — useremo translate+rotate in JS */
  transition: opacity 150ms linear; /* opzionale per fade in/out */
}

.custom-cursor.hover {
  width: 25px;
  height: 25px;
}

.underline-grow {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.underline-grow::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: black; 
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}

.underline-grow:hover::after {
  transform: scaleX(1);
}